@import "tailwindcss";

@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-slate-100 dark:bg-slate-700 transition-all;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px; /* pill shape */
  background-color: rgba(100, 100, 100, 0.3); /* default light mode */
  transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.2);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(200, 200, 200, 0.5);
}
/* Firefox support */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100,100,100,0.3) transp
}

.kbd {
  @apply border-2 border-gray-600 p-1 rounded-md
}