@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

 body{
    @apply bg-slate-100 dark:bg-slate-700 transition-all
 }

 /* CSS globale */
body {
  @apply bg-slate-100 transition-colors duration-300;
}

.dark body {
  @apply bg-slate-700;
}
